html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $main-color;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  line-height: 33px;
}

main {
  flex-grow: 1;
  background-color: $main-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.global-link {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $index-color;
  padding: 16px 24px;
  background: #57d9a6;
  border-radius: 4px;
  transition: 0.3s ease;
}

.global-link:hover {
  opacity: 0.7;
}

.global-link:active {
  opacity: 0.4;
}

// SCROLLBAR STYLE
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
