.header {
  &__bottom {
    background-color: $index-color;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__top {
    display: flex;
    justify-content: center;
    background-color: $secondary-color;
  }

  &__text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: $index-color;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__logo {
    transition: 0.3s ease;
  }

  &__logo:hover {
    opacity: 0.7;
  }

  &__logo:active {
    opacity: 0.4;
  }

  &__link {
    transition: 0.3s ease;
  }

  &__link:hover {
    opacity: 0.7;
  }

  &__link:active {
    opacity: 0.4;
  }
}
