.recent {
  background-color: #f5f5f5;

  &__container {
    padding-top: 142px;
    padding-bottom: 278px;
  }

  &__title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: $index-color;
    margin-bottom: 17px;
  }

  &__line {
    width: 150px;
    height: 2px;
    border: none;
    background-color: $secondary-color;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    width: 644px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #4e4e65;
    margin-bottom: 46px;
    margin-left: auto;
    margin-right: auto;
  }

  &__link-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 81px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 393px;
    padding: 219px 49px 72px 25px;
    background-color: #ffffff;
  }

  &__item:first-child {
    background-image: url(../img/recent-1-2.svg);
    background-repeat: no-repeat;
    background-position: top;
  }

  &__item:nth-child(2) {
    background-image: url(../img/recent-1-2.svg);
    background-repeat: no-repeat;
    background-position: top;
  }
  &__item:nth-child(3) {
    background-image: url(../img/recent-3.svg);
    background-repeat: no-repeat;
    background-position: top;
  }

  &__item-data {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #4e4e65;
    margin-bottom: 22px;
  }

  &__item-text {
    width: 319px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $index-color;
    margin-bottom: 8px;
  }

  &__item-person-name {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #4e4e65;
  }
}
